<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.CustomerRepository">
    <select id="selectOne" parameterType="Integer" resultType="one2oneDto">
        SELECT * FROM company_one2one WHERE one2one_idx=#{one2oneIdx}
    </select>
    <select id="select" resultType="noticeDto">
        SELECT * FROM company_notice
    </select>
    <select id="searchTitle" parameterType="String" resultType="noticeDto">
        select * from company_notice where notice_title like concat('%', #{noticeTitle}, '%')
    </select>
    <select id="searchContent" parameterType="String" resultType="noticeDto">
        select * from company_notice where notice_content like concat('%', #{noticeContent}, '%')
    </select>
    <insert id="insert" parameterType="one2oneDto">
        INSERT INTO company_one2one VALUES (#{one2oneName}, #{one2onePhone}, #{one2oneEmail}, #{one2oneAddress}, #{one2oneTitle}, #{one2oneContent}, NOW())
    </insert>
</mapper>