<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.MemberRepository">
    <select id="selectOne" parameterType="String" resultType="memberDto">
        SELECT * FROM company_member WHERE member_id=#{memberId}
    </select>
    <select id="select" resultType="memberDto">
        SELECT * FROM company_member
    </select>
    <select id="memberCnt" resultType="Integer">
        SELECT count(*) FROM company_member;
    </select>

    <select id="searchId" parameterType="String" resultType="memberDto">
        select * from company_member where member_id like lower(concat('%', #{memberId}, '%'))
    </select>
    <select id="searchName" parameterType="String" resultType="memberDto">
        select * from company_member where member_name like lower(concat('%', #{memberName}, '%'))
    </select>
    <select id="searchEmail" parameterType="String" resultType="memberDto">
        select * from company_member where member_email like lower(concat('%', #{memberEmail}, '%'))
    </select>
    <select id="searchAll" parameterType="String" resultType="memberDto">
        select * from company_member where member_id like lower(concat('%', #{memberId}, '%')) or
                                           member_name like lower(concat('%', #{memberName}, '%')) or
                                           member_email like lower(concat('%', #{memberEmail}, '%'))
    </select>

    <select id="findId" parameterType="memberDto" resultType="String">
        select member_id from company_member where member_name=#{memberName} and member_email=#{memberEmail};
    </select>
    <select id="findPw" parameterType="memberDto" resultType="String">
        select member_pw from company_member where member_name=#{memberName} and member_id=#{memberId} and member_email=#{memberEmail};
    </select>

    <select id="orderById" parameterType="searchDto" resultType="memberDto">
        SELECT * FROM company_member
        ORDER BY member_id
        <if test="orderOption == 1">
            DESC
        </if>
    </select>

    <select id="orderByRegDate" parameterType="searchDto" resultType="memberDto">
        SELECT * FROM company_member
        ORDER BY member_join_date
        <if test="orderOption == 3">
            DESC
        </if>
    </select>

    <select id="page" parameterType="pageDto" resultType="MemberDto">
        SELECT *
        FROM company_member
        <choose>
            <when test="orderOption != null and (orderOption == 0 or orderOption == 1)">
                ORDER BY member_id
                <if test="orderOption == 1">
                    DESC
                </if>
            </when>
            <when test="orderOption != null and (orderOption == 2 or orderOption == 3)">
                ORDER BY member_join_date
                <if test="orderOption == 3">
                    DESC
                </if>
            </when>
        </choose>
        <choose>
            <when test="pageOption != null and pageOption=='page5'">
                limit 5
            </when>
            <when test="pageOption != null and pageOption=='page10'">
                limit 10
            </when>
        </choose>
    </select>

    <insert id="insert" parameterType="memberDto">
        INSERT INTO company_member VALUES (0, #{memberId},#{memberPw},#{memberName},#{memberEmail},#{memberEmailReceive},#{memberPwQuestion},#{memberPwAnswer},#{memberGender},#{memberBirthDate}, NOW())
    </insert>
    <delete id="delete" parameterType="String">
        DELETE FROM company_member WHERE member_id=#{memberId}
    </delete>
</mapper>