<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.MemberRepository">
    <select id="selectOne" parameterType="String" resultType="memberDto">
        SELECT * FROM company_member WHERE member_id=#{memberId}
    </select>
    <select id="select" resultType="memberDto">
        SELECT * FROM company_member
    </select>
    <select id="memberCnt" resultType="Integer">
        SELECT count(*) FROM company_member;
    </select>

    <select id="searchId" parameterType="String" resultType="memberDto">
        select * from company_member where member_id like lower(concat('%', #{memberId}, '%'))
    </select>
    <select id="searchName" parameterType="String" resultType="memberDto">
        select * from company_member where member_name like lower(concat('%', #{memberName}, '%'))
    </select>
    <select id="searchEmail" parameterType="String" resultType="memberDto">
        select * from company_member where member_email like lower(concat('%', #{memberEmail}, '%'))
    </select>
    <select id="searchAll" parameterType="String" resultType="memberDto">
        select * from company_member where member_id like lower(concat('%', #{memberId}, '%')) or
                                           member_name like lower(concat('%', #{memberName}, '%')) or
                                           member_email like lower(concat('%', #{memberEmail}, '%'))
    </select>

    <select id="findId" parameterType="memberDto" resultType="String">
        select member_id from company_member where member_name=#{memberName} and member_email=#{memberEmail};
    </select>
    <select id="findPw" parameterType="memberDto" resultType="String">
        select member_pw from company_member where member_name=#{memberName} and member_id=#{memberId} and member_email=#{memberEmail};
    </select>
    <insert id="insert" parameterType="memberDto">
        INSERT INTO company_member VALUES (0, #{memberId},#{memberPw},#{memberName},#{memberEmail},#{memberEmailReceive},#{memberPwQuestion},#{memberPwAnswer},#{memberGender},#{memberBirthDate}, NOW())
    </insert>
    <delete id="delete" parameterType="String">
        DELETE FROM company_member WHERE member_id=#{memberId}
    </delete>
</mapper>