<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.NoticeRepository">
    <select id="selectOne" parameterType="Integer" resultType="noticeDto">
        SELECT * FROM company_notice WHERE notice_idx=#{noticeIdx}
    </select>
    <select id="select" resultType="noticeDto">
        SELECT * FROM company_notice
    </select>
    <select id="searchTitle" parameterType="String" resultType="noticeDto">
        select * from company_notice where notice_title like concat('%', #{noticeTitle}, '%')
    </select>
    <select id="searchContent" parameterType="String" resultType="noticeDto">
        select * from company_notice where notice_content like concat('%', #{noticeContent}, '%')
    </select>
    <insert id="insert" parameterType="noticeDto">
        insert into company_notice values (0, #{noticeTitle}, #{noticeContent}, #{noticeMemberId}, NOW())
    </insert>
    <select id="noticeCnt" resultType="Integer">
        SELECT count(*) FROM company_notice;
    </select>

    <!--검색-->
    <select id="adminSearchTitle" parameterType="String" resultType="noticeDto">
        select * from company_notice where notice_title like lower(concat('%', #{noticeTitle}, '%'))
    </select>
    <select id="adminSearchContent" parameterType="String" resultType="noticeDto">
        select * from company_notice where notice_content like lower(concat('%', #{noticeContent}, '%'))
    </select>
</mapper>