<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.QnaRepository">
    <select id="selectOne" parameterType="Integer" resultType="qnaDto">
        SELECT * FROM company_qna WHERE notice_idx=#{noticeIdx}
    </select>
    <select id="select" resultType="qnaDto">
        SELECT * FROM company_qna
    </select>
    <select id="searchTitle" parameterType="String" resultType="qnaDto">
        select * from company_qna where qna_title like concat('%', #{qnaTitle}, '%')
    </select>
    <select id="searchContent" parameterType="String" resultType="qnaDto">
        select * from company_qna where qna_content like concat('%', #{qnaContent}, '%')
    </select>
    <select id="searchName" parameterType="String" resultType="qnaDto">
        select * from company_qna where qna_name like concat('%', #{qnaName}, '%')
    </select>
<!--    <delete id="delete" parameterType="Integer">-->
<!--        DELETE FROM company_notice WHERE member_id=#{memberId}-->
<!--    </delete>-->
</mapper>